/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: dark){
  
  .page.theme_auto  {
    --opacity-for-hover:1;


    --for-main-titles-color: #DB00FF; 
    --for-main-titles-accent: #FF0070;
    --for-main-titles-offset: 4px;
  
    --main-color: #000028;
    --accent-color: var(--for-main-titles-accent);
    --text-color: var(--for-main-titles-accent);
  
  
    --background-image-introduction: url('../images/cover-image-dark.png') ;
  
  
    --transition-effect: all 0.3s ease 0s;
  } 

  .page.theme_auto .introduction__text,.page.theme_auto .title-with-bg{
    --text-color: var(--main-color);
  }
  .page.theme_auto .card__text-content{
    --text-color: #F1B2CE;
  }
  .page.theme_auto .introduction__decor-block{
    opacity: 1;
  }
}



.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --opacity-for-hover:1;


  --for-main-titles-color: #DB00FF; 
  --for-main-titles-accent: #FF0070;
  --for-main-titles-offset: 4px;

  --main-color: #000028;
  --accent-color: var(--for-main-titles-accent);
  --text-color: var(--for-main-titles-accent);


  --background-image-introduction: url('../images/cover-image-dark.png') ;


  --transition-effect: all 0.3s ease 0s;


  
}
.page.theme_dark .introduction__decor-block{
  opacity: 1;
}
.page.theme_dark .introduction__text,.page.theme_dark .title-with-bg{
  --text-color: var(--main-color);
}

.page.theme_dark .card__text-content{
  --text-color: #F1B2CE;
}
