/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
  


  --opacity-for-hover:1;


  --for-main-titles-color: #FFC2E6; 
  --for-main-titles-accent: #FF0070;
  --for-main-titles-offset: 4px;

  --main-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --text-color: #353430;


  --background-image-introduction: url('../images/cover-image-light.png') ;


  --transition-effect: all 0.3s ease 0s;
} 

